td{
    text-align: right;
    width: 70px;
    border: 5px outset red;
    background-color: lightblue;  
   
 
}

#div2{
  

    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

body{
    background-color: aqua;
}
table{
    
    
    border: 5px outset rgb(241, 238, 6);
    background-color: rgb(14, 28, 230);  
    margin: 50px 470px;
    
}
tr{
    
    height: 50px;
   
}
.h1{
    text-align: center;
    background-color: rgb(42, 209, 9);
    
}